bin/
obj/
log
STG
Flatshot
STG.layout
BulletHellGame
*.sav
last_replay
*.o
*.obj
.DS_Store

.vscode/
.DS_Store/

#shhh this is  a secret
Makefile.secret
RosalilaShooter/Menus/StageSecretSelect.*
*.a
secret_include/

*.dll
*.exe
build/
